<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <title>{% block title %}{% endblock %}</title>
		<link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}"/>
		<link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}"/>
		<script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/jquery/jquery-3.6.1.js' %}"></script>
        {% block head %} {% endblock %}
    </head>

    <body>
		<div id="overlay">
			<div class="cv-spinner">
				<span class="spinner"></span>
			</div>
		</div>
         		        
        {% block content %}
        {% endblock %}
		
		<script type="text/javascript">
		</script>
        {% block javascript %}{% endblock %}
    </body>
</html>
